.walker {
	padding-top: 10px;
}
.dogWalkers {
	margin-left: 20%;
	padding-left: 10px;
}
.sidebar{
	padding: 5px;
	height: 100%;
	width: 20%;
	background-color: whitesmoke;
	box-shadow: 0 0 2px lightgrey;
	position: fixed;
}
.sidebar label {
	padding-left: 5px;
}
.sidebar input {
	margin-left: 30%;
}
.sidebar h5 {
	padding-top: 5px;
	text-align: center;
}
.sidebar hr {
	width: 80%;  
	height: 2px;  
	background-color: black;  
	margin-bottom: 7px;  
	margin-right: auto;  
	margin-left: auto;  
	margin-top: 9px;   
}