#mask {
  position:absolute;
  left:0;
  top:0;
  z-index:9000;
  background-color:#FFFFFF;
  display:none;
}  
#boxes .window {
  position:absolute;
  left:0;
  top:0;
  width:440px;
  height:850px;
  display:none;
  z-index:9999;
  padding:20px;
  border-radius: 5px;
  text-align: center;
}
#boxes #dialog {
  width:450px; 
  height:auto;
  padding: 10px 10px 10px 10px;
  background-color:#FFFFFF;
  font-size: 15pt;
}

.agree:hover{
  background-color: #FFFFFF;
}
.popupoption:hover{
	background-color:#FFFFFF;
	color: green;
}
.popupoption2:hover{
	color: red;
}

.img {
  opacity:0.3;
}

.img:hover {
  opacity = 1.0;
}
